In [1]:
import pandas as pd
foot = pd.read_csv("results.csv")
import warnings
warnings.filterwarnings('ignore')

In [2]:
foot.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [3]:
foot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39654 entries, 0 to 39653
Data columns (total 9 columns):
date          39654 non-null object
home_team     39654 non-null object
away_team     39654 non-null object
home_score    39654 non-null int64
away_score    39654 non-null int64
tournament    39654 non-null object
city          39654 non-null object
country       39654 non-null object
neutral       39654 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.5+ MB

In [4]:
foot['date'] = pd.to_datetime(foot['date'])

In [5]:
foot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39654 entries, 0 to 39653
Data columns (total 9 columns):
date          39654 non-null datetime64[ns]
home_team     39654 non-null object
away_team     39654 non-null object
home_score    39654 non-null int64
away_score    39654 non-null int64
tournament    39654 non-null object
city          39654 non-null object
country       39654 non-null object
neutral       39654 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 2.5+ MB

In [6]:
foot.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [7]:
foot.tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
39649,2018-06-27,Switzerland,Costa Rica,2,2,FIFA World Cup,Nizhny Novgorod,Russia,True
39650,2018-06-28,Japan,Poland,0,1,FIFA World Cup,Volgograd,Russia,True
39651,2018-06-28,Senegal,Colombia,0,1,FIFA World Cup,Samara,Russia,True
39652,2018-06-28,Panama,Tunisia,1,2,FIFA World Cup,Saransk,Russia,True
39653,2018-06-28,England,Belgium,0,1,FIFA World Cup,Kaliningrad,Russia,True

In [8]:
import datetime
foot = foot[foot.date > datetime.date(2017, 1, 1)]

In [9]:
foot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1284 entries, 38370 to 39653
Data columns (total 9 columns):
date          1284 non-null datetime64[ns]
home_team     1284 non-null object
away_team     1284 non-null object
home_score    1284 non-null int64
away_score    1284 non-null int64
tournament    1284 non-null object
city          1284 non-null object
country       1284 non-null object
neutral       1284 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(5)
memory usage: 91.5+ KB

In [10]:
round_of_16 = ['France','Argentina','Uruguay','Portugal','Spain','Russia','Denmark','Croatia','Brazil','Mexico',
               'Belgium','Japan','Sweden','Switzerland','Colombia','England']

In [11]:
import numpy as np
conditions = [
    (foot['home_score'] > foot['away_score']),
    (foot['home_score'] < foot['away_score'])]
choices = [ 1 , 0]
foot['win'] = np.select(conditions, choices, default=-1)

In [12]:
foot['home_gd'] = foot['home_score'] - foot['away_score']
foot['away_gd'] = foot['away_score'] - foot['home_score']

In [13]:
foot_home = foot.loc[(foot['home_team'].isin(round_of_16))] 
foot_away = foot.loc[(foot['away_team'].isin(round_of_16))]

In [14]:
foot_home.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 38426 to 39653
Data columns (total 12 columns):
date          167 non-null datetime64[ns]
home_team     167 non-null object
away_team     167 non-null object
home_score    167 non-null int64
away_score    167 non-null int64
tournament    167 non-null object
city          167 non-null object
country       167 non-null object
neutral       167 non-null bool
win           167 non-null int32
home_gd       167 non-null int64
away_gd       167 non-null int64
dtypes: bool(1), datetime64[ns](1), int32(1), int64(4), object(5)
memory usage: 15.2+ KB

In [15]:
country_perf = {}
for country in round_of_16:
    c_home = foot_home.loc[(foot_home['home_team']==country)]
    c_away = foot_away.loc[(foot_away['away_team']==country)]
    win_prob = np.average( [ len(c_home.loc[c_home['win'] == 1])/ len(c_home),len(c_away.loc[c_away['win'] == 0])/ len(c_away) ] )
    goal_diff = np.average( [ c_home['home_gd'].sum(), c_away['away_gd'].sum() ] )
    attribs = [win_prob, goal_diff]
    country_perf[country] = attribs

In [16]:
print(country_perf)

{'France': [0.5961538461538461, 10.0], 'Argentina': [0.5, 3.0], 'Uruguay': [0.5333333333333333, 2.0], 'Portugal': [0.6383928571428572, 14.5], 'Spain': [0.6458333333333333, 16.5], 'Russia': [0.375, 0.0], 'Denmark': [0.5071428571428571, 8.5], 'Croatia': [0.5654761904761905, 3.5], 'Brazil': [0.75, 15.0], 'Mexico': [0.5557692307692308, 7.5], 'Belgium': [0.775, 18.0], 'Japan': [0.3571428571428571, 0.5], 'Sweden': [0.47916666666666663, 8.5], 'Switzerland': [0.6875, 11.0], 'Colombia': [0.35, 6.0], 'England': [0.5857142857142856, 8.0]}

## Making Prediction Using players data

In [17]:
foot_players = pd.read_csv('training_data.csv')

In [18]:
foot_players.head()

,team-1_player-1_overall_rating,team-1_player-1_potential,team-1_player-1_age,team-1_player-2_overall_rating,team-1_player-2_potential,team-1_player-2_age,team-1_player-3_overall_rating,team-1_player-3_potential,team-1_player-3_age,team-1_player-4_overall_rating,...,team-2_player-9_overall_rating,team-2_player-9_potential,team-2_player-9_age,team-2_player-10_overall_rating,team-2_player-10_potential,team-2_player-10_age,team-2_player-11_overall_rating,team-2_player-11_potential,team-2_player-11_age,match_result
0,58.0,67.0,9048,57.0,59.0,9380,67.0,72.0,8267,53.0,...,70.0,73.0,9936,68.0,62.0,9753,63.0,72.0,7282,Win
1,64.0,67.0,9500,64.0,67.0,11480,63.0,65.0,9777,62.0,...,67.0,79.0,8132,73.0,76.0,11169,68.0,74.0,8232,Defeat
2,67.0,69.0,11330,72.0,75.0,10246,69.0,74.0,8891,69.0,...,55.0,72.0,7215,58.0,64.0,8349,64.0,72.0,8535,Win
3,58.0,67.0,9062,57.0,59.0,9394,67.0,72.0,8281,65.0,...,74.0,80.0,8443,70.0,74.0,9135,69.0,75.0,8654,Win
4,61.0,65.0,8616,66.0,67.0,10417,61.0,66.0,8218,61.0,...,60.0,79.0,7345,63.0,66.0,10893,65.0,68.0,8880,Draw

In [19]:
foot_players['match_result'].value_counts()

Win       9804
Defeat    6161
Draw      5396
Name: match_result, dtype: int64

In [20]:
foot_players['match_result'] = foot_players['match_result'].map({ 'Win': 1, 'Defeat': 0, 'Draw': -1})

In [21]:
# make X and y dataframes with independent and dependent columns respectively
X = foot_players.loc[:, foot_players.columns != 'match_result']
y = foot_players['match_result']

In [22]:
# Normalize the data
def normalise(x):
    return ((x-np.mean(x))/(max(x)-min(x)))

In [23]:
X = X.apply(normalise)

In [24]:
X.head()

,team-1_player-1_overall_rating,team-1_player-1_potential,team-1_player-1_age,team-1_player-2_overall_rating,team-1_player-2_potential,team-1_player-2_age,team-1_player-3_overall_rating,team-1_player-3_potential,team-1_player-3_age,team-1_player-4_overall_rating,...,team-2_player-8_age,team-2_player-9_overall_rating,team-2_player-9_potential,team-2_player-9_age,team-2_player-10_overall_rating,team-2_player-10_potential,team-2_player-10_age,team-2_player-11_overall_rating,team-2_player-11_potential,team-2_player-11_age
0,-0.315396,-0.228806,-0.143985,-0.278277,-0.341368,-0.035492,-0.107032,-0.090583,-0.198463,-0.387614,...,0.062128,-0.042602,-0.087823,0.057659,-0.084621,-0.320558,0.025786,-0.19489,-0.119253,-0.277733
1,-0.190396,-0.228806,-0.097517,-0.129341,-0.163590,0.206975,-0.197941,-0.274794,-0.028648,-0.200114,...,-0.156775,-0.100294,0.045511,-0.151816,0.007971,-0.022686,0.192925,-0.09489,-0.072742,-0.162735
2,-0.127896,-0.181187,0.090619,0.040872,0.014188,0.064497,-0.061578,-0.037952,-0.128288,-0.054280,...,-0.042304,-0.331063,-0.110045,-0.258296,-0.269806,-0.278005,-0.139937,-0.17489,-0.119253,-0.126056
3,-0.315396,-0.228806,-0.142546,-0.278277,-0.341368,-0.033875,-0.107032,-0.090583,-0.196889,-0.137614,...,-0.065443,0.034321,0.067733,-0.115704,-0.047584,-0.065239,-0.047160,-0.07489,-0.049486,-0.111651
4,-0.252896,-0.276425,-0.188398,-0.086788,-0.163590,0.084240,-0.243396,-0.248478,-0.203974,-0.220947,...,-0.042059,-0.234910,0.045511,-0.243201,-0.177214,-0.235452,0.160347,-0.15489,-0.212277,-0.084294

In [25]:
y.head()

0    1
1    0
2    1
3    1
4   -1
Name: match_result, dtype: int64

In [26]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21361 entries, 0 to 21360
Data columns (total 66 columns):
team-1_player-1_overall_rating     21361 non-null float64
team-1_player-1_potential          21361 non-null float64
team-1_player-1_age                21361 non-null float64
team-1_player-2_overall_rating     21361 non-null float64
team-1_player-2_potential          21361 non-null float64
team-1_player-2_age                21361 non-null float64
team-1_player-3_overall_rating     21361 non-null float64
team-1_player-3_potential          21361 non-null float64
team-1_player-3_age                21361 non-null float64
team-1_player-4_overall_rating     21361 non-null float64
team-1_player-4_potential          21361 non-null float64
team-1_player-4_age                21361 non-null float64
team-1_player-5_overall_rating     21361 non-null float64
team-1_player-5_potential          21361 non-null float64
team-1_player-5_age                21361 non-null float64
team-1_player-6_overall_rating     21361 non-null float64
team-1_player-6_potential          21361 non-null float64
team-1_player-6_age                21361 non-null float64
team-1_player-7_overall_rating     21361 non-null float64
team-1_player-7_potential          21361 non-null float64
team-1_player-7_age                21361 non-null float64
team-1_player-8_overall_rating     21361 non-null float64
team-1_player-8_potential          21361 non-null float64
team-1_player-8_age                21361 non-null float64
team-1_player-9_overall_rating     21361 non-null float64
team-1_player-9_potential          21361 non-null float64
team-1_player-9_age                21361 non-null float64
team-1_player-10_overall_rating    21361 non-null float64
team-1_player-10_potential         21361 non-null float64
team-1_player-10_age               21361 non-null float64
team-1_player-11_overall_rating    21361 non-null float64
team-1_player-11_potential         21361 non-null float64
team-1_player-11_age               21361 non-null float64
team-2_player-1_overall_rating     21361 non-null float64
team-2_player-1_potential          21361 non-null float64
team-2_player-1_age                21361 non-null float64
team-2_player-2_overall_rating     21361 non-null float64
team-2_player-2_potential          21361 non-null float64
team-2_player-2_age                21361 non-null float64
team-2_player-3_overall_rating     21361 non-null float64
team-2_player-3_potential          21361 non-null float64
team-2_player-3_age                21361 non-null float64
team-2_player-4_overall_rating     21361 non-null float64
team-2_player-4_potential          21361 non-null float64
team-2_player-4_age                21361 non-null float64
team-2_player-5_overall_rating     21361 non-null float64
team-2_player-5_potential          21361 non-null float64
team-2_player-5_age                21361 non-null float64
team-2_player-6_overall_rating     21361 non-null float64
team-2_player-6_potential          21361 non-null float64
team-2_player-6_age                21361 non-null float64
team-2_player-7_overall_rating     21361 non-null float64
team-2_player-7_potential          21361 non-null float64
team-2_player-7_age                21361 non-null float64
team-2_player-8_overall_rating     21361 non-null float64
team-2_player-8_potential          21361 non-null float64
team-2_player-8_age                21361 non-null float64
team-2_player-9_overall_rating     21361 non-null float64
team-2_player-9_potential          21361 non-null float64
team-2_player-9_age                21361 non-null float64
team-2_player-10_overall_rating    21361 non-null float64
team-2_player-10_potential         21361 non-null float64
team-2_player-10_age               21361 non-null float64
team-2_player-11_overall_rating    21361 non-null float64
team-2_player-11_potential         21361 non-null float64
team-2_player-11_age               21361 non-null float64
dtypes: float64(66)
memory usage: 10.8 MB

In [27]:
from sklearn.cross_validation import train_test_split

# Shuffle and split the dataset into training and testing set.
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size = 0.9,
                                                    test_size = 0.1,
                                                    random_state = 12)

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [28]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

def train_classifier(clf, X_train, y_train):
    ''' Fits a classifier to the training , y_train)data. '''
    clf.fit(X_train, y_train)

def predict_labels(clf, features, target):
    y_pred = clf.predict(features)
    return round(f1_score(target, y_pred, average='micro'),2), round(accuracy_score(target, y_pred),2)

def train_predict(clf, X_train, y_train, X_test, y_test):
    ''' Train and predict using a classifer based on F1 score. '''
    
    # Indicate the classifier and the training set size
    print("Training a {} using a training set size of. . .",clf.__class__.__name__,len(X_train))
    
    # Train the classifier
    train_classifier(clf, X_train, y_train)
    
    # Print the results of prediction for both training and testing
    f1, acc = predict_labels(clf, X_train, y_train)
    print("F1 score, accuracy score for training set:",f1 , acc)
    
    f1, acc = predict_labels(clf, X_test, y_test)
    print("F1 score, accuracy score for test set:",f1 , acc)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
import xgboost as xgb

clf_A = LogisticRegression(random_state = 42)
clf_B = SVC(random_state = 912, kernel='rbf')
clf_C = RandomForestClassifier(n_estimators=15, random_state=12)
clf_D = xgb.XGBClassifier(seed = 82)

train_predict(clf_A, X_train, y_train, X_test, y_test)
print('')
train_predict(clf_B, X_train, y_train, X_test, y_test)
print('')
train_predict(clf_C, X_train, y_train, X_test, y_test)
print('')
train_predict(clf_D, X_train, y_train, X_test, y_test)
print('')

Training a {} using a training set size of. . . LogisticRegression 19224
F1 score, accuracy score for training set: 0.52 0.52
F1 score, accuracy score for test set: 0.53 0.53

Training a {} using a training set size of. . . SVC 19224
F1 score, accuracy score for training set: 0.52 0.52
F1 score, accuracy score for test set: 0.53 0.53

Training a {} using a training set size of. . . RandomForestClassifier 19224
F1 score, accuracy score for training set: 1.0 1.0
F1 score, accuracy score for test set: 0.47 0.47

Training a {} using a training set size of. . . XGBClassifier 19224
F1 score, accuracy score for training set: 0.55 0.55
F1 score, accuracy score for test set: 0.52 0.52

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [45]:
from sklearn.naive_bayes import GaussianNB
clf_E = GaussianNB()
train_predict(clf_E, X_train, y_train, X_test, y_test)

Training a {} using a training set size of. . . GaussianNB 19224
F1 score, accuracy score for training set: 0.48 0.48
F1 score, accuracy score for test set: 0.48 0.48

In [30]:
# TODO: Import 'GridSearchCV' and 'make_scorer'
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import make_scorer


# TODO: Create the parameters list you wish to tune
parameters = { 'learning_rate' : [0.1],
               'n_estimators' : [40],
               'max_depth': [3],
               'min_child_weight': [3],
               'gamma':[0.4],
               'subsample' : [0.8],
               'colsample_bytree' : [0.8],
               'scale_pos_weight' : [1],
               'reg_alpha':[1e-5]
             }  

# TODO: Initialize the classifier
clf = xgb.XGBClassifier(seed=2)

# TODO: Make an f1 scoring function using 'make_scorer' 
f1_scorer = make_scorer(f1_score,average='micro')

# TODO: Perform grid search on the classifier using the f1_scorer as the scoring method
grid_obj = GridSearchCV(clf,
                        scoring=f1_scorer,
                        param_grid=parameters,
                        cv=5)

# TODO: Fit the grid search object to the training data and find the optimal parameters
grid_obj = grid_obj.fit(X_train,y_train)

# Get the estimator
clf = grid_obj.best_estimator_
print(clf)

# Report the final F1 score for training and testing after parameter tuning
f1, acc = predict_labels(clf, X_train, y_train)
print("F1 score and accuracy score for training set ",f1 , acc)
    
f1, acc = predict_labels(clf, X_test, y_test)
print("F1 score and accuracy score for test set ",f1 , acc)

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=0.4, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=3, missing=None,
       n_estimators=40, n_jobs=1, nthread=None, objective='multi:softprob',
       random_state=0, reg_alpha=1e-05, reg_lambda=1, scale_pos_weight=1,
       seed=2, silent=True, subsample=0.8)
F1 score and accuracy score for training set  0.53 0.53
F1 score and accuracy score for test set  0.53 0.53

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Even after hyperparameter optimization SVC, LogisticRegression and the XGBoost seem to be giving equivalent results but SVC has more definitive results so going with SVC

In [31]:
# Starting XI 
import csv
import json
starting_xi = {}
with open('starting_xi.csv','rU') as f:
    reader = csv.reader(f)
    for row in reader:
        starting_xi[row[0]] = row[1:]

In [32]:
def get_age_before_match(d1,d2):
    t1 = datetime.datetime.strptime(d1,'%b %d, %Y')
    t2 = datetime.datetime.strptime(d2,'%Y-%m-%d')
    return (t2-t1).days

def read_sofifa_data(country):
    player_info = {}
    file_name = '_'.join(country.lower().split())+'.json'
    with open('teams/'+file_name) as f:
        for line in f:
            obj = json.loads(line.strip())
            player_info[obj['name']] = [float(obj['overall_rating']),
                                        float(obj['potential']),
                                        obj['bday'].replace('(','').replace(')','')]
    return player_info


def get_features(country1, country2, match_date):
    team1 = read_sofifa_data(country1)
    team2 = read_sofifa_data(country2)
    
    feat = [f for pl in starting_xi[country1] for f in team1[pl][:2]+[get_age_before_match(team1[pl][2], match_date)]]
    feat += [f for pl in starting_xi[country2] for f in team2[pl][:2]+[get_age_before_match(team2[pl][2], match_date)]]
    return feat

In [33]:
def predict_result(trained_model, country1, country2, match_date):
    f = get_features(country1,country2,match_date)
    result = trained_model.predict(np.array(f).reshape(1,-1))
    pre_string = '{country1} vs {country2} result: '.format(country1=country1, country2=country2)
    if result[0]==1:
        print(pre_string+'{winner} wins'.format(winner=country1))
    elif result[0]==0:
        print(pre_string+'{winner} wins'.format(winner=country2))
    else:
        print(pre_string+'Draw')

# Round Of 16

In [34]:
predict_result(clf_B, 'Argentina', 'France','2018-06-30')
predict_result(clf_B, 'Portugal', 'Uruguay','2018-06-30')
predict_result(clf_B, 'Mexico', 'Brazil','2018-07-02')
predict_result(clf_B, 'Japan', 'Belgium','2018-07-02')
predict_result(clf_B, 'Russia', 'Spain','2018-07-01')
predict_result(clf_B, 'Denmark', 'Croatia','2018-07-01')
predict_result(clf_B, 'Sweden', 'Switzerland','2018-07-03')
predict_result(clf_B, 'Colombia', 'England','2018-07-03')

Argentina vs France result: France wins
Portugal vs Uruguay result: Uruguay wins
Mexico vs Brazil result: Brazil wins
Japan vs Belgium result: Belgium wins
Russia vs Spain result: Spain wins
Denmark vs Croatia result: Croatia wins
Sweden vs Switzerland result: Switzerland wins
Colombia vs England result: England wins

# Quarterfinals

In [35]:
predict_result(clf_B, 'Uruguay', 'France','2018-07-06')
predict_result(clf_B, 'Brazil', 'Belgium','2018-07-06')
predict_result(clf_B, 'Croatia', 'Spain','2018-07-07')
predict_result(clf_B, 'Switzerland', 'England','2018-07-07')

Uruguay vs France result: France wins
Brazil vs Belgium result: Belgium wins
Croatia vs Spain result: Spain wins
Switzerland vs England result: England wins

# Semifinals

In [36]:
predict_result(clf_B, 'France', 'Belgium','2018-07-10')
predict_result(clf_B, 'Spain', 'England','2018-07-11')

France vs Belgium result: Belgium wins
Spain vs England result: England wins

# Third Place Play Off

In [37]:
predict_result(clf_B, 'Spain', 'France','2018-07-14')

Spain vs France result: France wins

# Final

In [38]:
predict_result(clf_B, 'England', 'Belgium','2018-07-15')

England vs Belgium result: Belgium wins

Thus **Belgium** comes out on top.